sudo: required
services:
  - docker
  
before_install:
  - docker build -t ash1069/docker-react -f Dockerfile.dev .
  
script:
    - docker run ash1069/docker-react npm run test -- --coverage --forceExit

